@import '../variables';

.about {
    color: white;
    min-height: 100vh;
    padding: 10% 12% 5%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;

    p {
        padding: 0.3rem 0;
    }

    & > * {
        margin-bottom: 20vh;
    }
}
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    // padding-bottom: 6%;

    .leftCol {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .danielTitle {
            font-size: 2.6rem;
            font-weight: 100;
            font-family: 'Noto Serif JP', serif;

            @include responsiveMax700 {
                font-size: 2.1rem;
            }
            @include responsiveMax500 {
                font-size: 2rem;
                text-shadow: 1px 0px 2px black;
                z-index: 11;
            }
            @include responsiveMax500 {
                font-size: 1.8rem;
            }
        }
    }
    .rightCol {
        width: 100%;
        height: 20rem;
        // padding-top: 4rem;
        align-self: center;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        @include responsiveMax500 {
            height: 15rem;
        }

        img {
            height: 100%;
            position: absolute;
            top: 0;
            @include responsiveMax700 {
                height: 80%;
            }
            @include responsiveMax500 {
                height: 90%;
                top: 5%;
            }
            @include responsiveMax400 {
                height: 90%;
                top: 5%;
                right: -5%;
            }
        }
    }
}
.txtHighlight {
    font-weight: 700;
    color: rgb(30, 216, 233);
}

// .fadeUp {
//     @include fadeUpOut(1s);
// }
// .fadeDown {
//     @include fadeDownOut(1s);
// }
// .fadeIn {
//     @include fadeIn(1s);
// }
