@import '../variables';

.about {
    color: white;
    min-height: 100vh;
    padding: 3% 12% 7%;
    overflow: hidden;

    p {
        padding: 0.3rem 0;
    }
}
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5%;
    padding-bottom: 6%;

    @include responsiveMax1000 {
        padding-bottom: 12%;
    }

    .leftCol {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .danielTitle {
            font-size: 2.6rem;
            font-weight: 100;
            font-family: 'Noto Serif JP', serif;

            @include responsiveMax700 {
                font-size: 1.8rem;
            }
            @include responsiveMax500 {
                font-size: 1.4rem;
            }
        }
    }
    .rightCol {
        width: 100%;
        height: 22rem;
        padding-top: 4rem;
        align-self: center;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
            position: absolute;
            top: 0;
            @include responsiveMax700 {
                height: 80%;
            }
            @include responsiveMax500 {
                height: 60%;
                top: 15%;
            }
            @include responsiveMax400 {
                height: 50%;
                top: 20%;
                right: -15%;
            }
        }
    }
}
.txtHighlight {
    font-weight: 700;
    color: rgb(30, 216, 233);
}

// .fadeUp {
//     @include fadeUpOut(1s);
// }
// .fadeDown {
//     @include fadeDownOut(1s);
// }
// .fadeIn {
//     @include fadeIn(1s);
// }
