@import '../variables';

.form-contact {
    height: 100vh;
    box-sizing: border-box;
    padding: 4% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    z-index: 10;

    h2 {
        font-size: 1.5rem;
        font-weight: 100;
    }

    .titles {
        padding: 3rem 0 1rem;
        display: flex;
        justify-content: space-between;

        @include responsiveMax700 {
            flex-direction: column;
        }

        & > * {
            width: 90%;
            margin-right: 4rem;
        }
    }

    input,
    textarea {
        display: inline-block;

        z-index: 10;
        border-radius: 20px;
        padding: 1rem;
        outline: none;
        width: 96%;
        border: none;
        background: transparent;
        font-size: 1rem;
        color: white;
        background-color: rgba(234, 234, 234, 0.371);

        &::placeholder {
            color: rgb(197, 197, 197);
            size: 1rem;
        }
    }

    label {
        font-size: 1.2rem;
    }

    .contact-btn {
        @include glossyButton($green-primary);
    }
}

.form-contact-sent {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    height: 100vh;
    @include fadeIn(1s);
}
