@import '../variables';

.container {
    height: 100vh;
    position: relative;
    // background: url('../images/earthLightsGlobe.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    animation: fade-in ease-out 2s;
    opacity: 1;
    background-position-y: -10%;
    background-position-x: 100px;

    @keyframes fade-in {
        0% {
            opacity: 1;
            background-size: 130%;
            background-position-y: -20%;
            // background-position-x: 50px;
            // transform: rotate(30deg);
        }
        30% {
            // opacity: 0.5;
            // background-size: 120%;
        }
        100% {
            opacity: 1;
            background-size: 100%;
            background-position-y: -10%;
            // background-position-x: 100px;
        }
    }

    .textbox {
        z-index: 1;
        position: absolute;
        bottom: 10%;
        left: 7%;
        color: rgb(255, 255, 255);
        h1 {
            margin-bottom: 0;
        }
        h2 {
            font-family: 'Exo 2', sans-serif;
            font-weight: 400;
            padding: 0;
            margin: 0;
        }

        &__inner {
            margin-top: 2rem;
        }
    }

    img {
        position: absolute;
        bottom: 20%;
        left: 0;
        height: 100%;
        // width: 100%;
        object-fit: cover;
        z-index: -1;
        filter: blur(1px);

        @include responsiveMax900 {
            left: 0%;
        }
    }
    .box {
        position: absolute;
        top: 0;
        left: 0%;
        height: 100%;
        width: 100%;
        background-color: rgb(4, 44, 50);
        object-fit: cover;
        z-index: 1;
    }

    video {
        position: fixed;
        top: 0;
        left: 0%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;
        filter: opacity(90%);
    }
}
.headerFadeOut {
    @include fadeOut(1s);
}
.headerFadeIn {
    @include fadeIn(2s);
}
