@import '../variables';

.container {
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .btnDiv {
        position: absolute;
        left: 4%;
        top: 2%;
        display: flex;

        //linkedIn button
        :nth-child(1) {
            @include glossyButton(#0073b193);
            margin-right: 4rem;
        }
        //github button
        :nth-child(2) {
            @include glossyButton(#171515a6);
        }
    }

    .textbox {
        z-index: 1;
        color: rgb(255, 255, 255);
        h1 {
            margin-bottom: 0;
        }
        h2 {
            padding: 0;
            margin: 0;
        }

        &__inner {
            margin-top: 2rem;
        }
    }

    img {
        position: absolute;
        bottom: 20%;
        left: 0;
        height: 100%;
        // width: 100%;
        object-fit: cover;
        z-index: -1;
        // filter: blur(1px);

        @include responsiveMax900 {
            left: 0%;
        }
    }
    .box {
        position: absolute;
        top: 0;
        left: 0%;
        height: 100%;
        width: 100%;
        background-color: rgb(4, 44, 50);
        object-fit: cover;
        // z-index: 1;
    }

    video {
        position: fixed;
        top: 0;
        left: 0%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        filter: opacity(90%);
    }
}
