@import '../variables';
////////////// BURGER NAV VIEW ///////////////////
.navbar {
    font-weight: 400;
    position: fixed;
    top: 20%;
    right: 50%;
    z-index: 100;
    width: 0;
    border-radius: 10px;
    height: 3rem;
    transition: all 0.2s;
    &__open {
        position: fixed;
        background: rgba(15, 24, 1, 0.9);
        color: white;
        top: 0;
        right: 0;
        height: 120vh;
        width: 100%;
        z-index: 100;
        margin: 0;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.navItems {
    height: 100%;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20% 0 30%;
    transition: all 0.2s;
    a {
        font-family: 'Noto Sans Display', sans-serif;
        font-weight: 100;
        font-size: 2.6rem;
        position: relative;
        text-decoration: none;
        color: white;
        transition: all 0.2s;
        @include lineTopLeftToBottomRight;

        @keyframes animateLine {
            0% {
                transform: scale(0);
                height: 100%;
                width: 2px;
            }
            30% {
                transform: scale(1);
                height: 100%;
                width: 2px;
            }
            60% {
                transform: scale(1);
                height: 2px;
                width: 3px;
            }
            100% {
                transform: scale(1);
                width: 120%;
                height: 2px;
            }
        }
    }

    &__item {
        font-family: 'Noto Serif JP', serif;
        font-weight: 500;
        height: 3.5rem;
        padding-bottom: 4rem;
    }

    &__open {
        opacity: 1;
    }

    &__closed {
        visibility: collapse;
        opacity: 0;
    }
}

.navBurger {
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 15px;
    height: 100%;
    padding: 0.6rem 0;
    transition: all 0.2s;
    position: fixed;
    width: 4rem;
    height: 3rem;
    top: 4%;
    right: 5%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

    & > * {
        height: 0.15rem;
        width: 2.5rem;
        transition: all 0.4s;
        display: block;
        background-color: white;
        box-shadow: 0px 1px 1px rgb(4, 73, 34);
    }

    &__closed {
        &:hover {
            padding: 0.4rem 0;
        }
    }
    &__open {
        > * {
            &:nth-child(1) {
                transform: translateY(1rem) rotate(135deg);
                box-shadow: 0px 0px 0px;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-0.6rem) rotate(-135deg);
                box-shadow: 0px 0px 0px;
            }
        }
    }
}
