@import '../variables';

.portfolio {
    padding: 1% 0 8%;
    // background: rgb(25, 25, 25);
    color: white;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .title {
        margin-left: 7%;
        margin-bottom: 0;
    }

    h1 {
        // text-align: center;
    }
    h2 {
        margin-bottom: 0;
    }
    h3 {
        font-size: 1.2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0;
    }

    li {
        padding: 0.2rem 0;
        font-weight: 300;
    }

    img {
        position: fixed;
        top: 0;
        left: 0%;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        z-index: -100;
        transform: scale(1.2);
        filter: opacity(30%);
        @include fadeIn(1s);
    }
}
