@import '../variables';
.skills {
    padding: 4% 7% 8%;
    position: relative;
    color: white;

    @include responsiveMax700 {
        padding: 3% 2%;
    }

    h2 {
        text-align: center;
        margin: 3rem 0 5rem;
    }
    video {
        position: fixed;
        top: 0.5px;
        left: 0;
        right: 0;
        bottom: 0.5px;
        height: 100vh;
        width: 100%;
        z-index: -100;
        filter: opacity(40%);
        overflow-x: hidden;
        overflow-y: auto;
        object-fit: cover;
    }
}

.webApps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    z-index: 1;

    & > * {
        transition-timing-function: cubic-bezier(0.52, -0.45, 0.26, 1.1);
        transform: scale(1);
        padding: 1.5rem 4rem;
        transition: transform 0.4s cubic-bezier(0.52, -0.45, 0.26, 1.6);
        width: 15%;

        @include responsiveMax700 {
            width: 10%;
        }

        &:hover {
            transform: scale3d(1.2, 1.2, 1.2);
            font-weight: 400;
        }
    }
}
