@import '../variables';
.skills {
    padding: 4% 7% 8%;
    position: relative;
    color: white;

    h2 {
        text-align: center;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        mix-blend-mode: none;
        z-index: -10;
    }
}

.webApps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 7%;
    padding-bottom: 4rem;
    z-index: 1;

    & > * {
        padding: 1.5rem 4rem;
        transition: transform 0.4s cubic-bezier(0.01, 2.03, 0.45, 0.7);

        &:hover {
            transform: scale(1.2);
            font-weight: 400;
        }
    }
}
