$gray1: rgb(42, 42, 42);
$gray-light: rgb(239, 239, 239);
$gray-light2: rgb(210, 210, 210);
$gray-search: rgb(93, 93, 93);

$green-primary: #62af36;

$purple: rgb(160, 38, 216);

$gray-dark: rgb(60, 60, 60);
$gray-dark5: darken($gray-dark, 5%);
$gray-dark10: darken($gray-dark, 13%);

$gray-light5: lighten($gray-dark, 5%);
$gray-light10: lighten($gray-dark, 10%);

$blue-dark: rgb(53, 53, 53);

$blue: rgb(121, 79, 79);
$blue2: rgb(107, 107, 107);

$primaryBtn: $gray-dark;
$secondaryBtn: $gray-light10;
$tertiaryBtn: rgb(137, 210, 255);

$sidebarColor: $gray-dark;
$navbarColor: darken($gray-dark10, 5%);

@mixin heading($size) {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-size: $size;
    font-weight: 100;
    padding-bottom: 0.5rem;

    @include responsiveMin1800 {
        font-size: 150%;
    }
}

//////////////////////////// ANIMATIONS ////////////////////////////////////////////////////////////////////////////
/// ACCENTS
@mixin lineTopLeftToBottomRight {
    &::after {
        position: absolute;
        content: '';
        bottom: 0%;
        left: -10%;
        width: 2px;
        height: 100%;
        background-color: $green-primary;
        transform: scale(0);
        transform-origin: top;
    }
    &:hover {
        .active::before,
        &::after {
            animation: animateLine 0.25s ease-in;
            animation-fill-mode: forwards;
        }
    }
}
// TRANSITIONS
@mixin fadeIn($time) {
    animation: fadeIn $time;
    opacity: 1;
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
@mixin fadeOut($time) {
    animation: fadeOut $time;
    opacity: 0;
    visibility: collapse;

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            visibility: collapse;
        }
    }
}
@mixin fadeOutUp($time) {
    animation: fadeOutUp $time;
    opacity: 0;

    @keyframes fadeOutUp {
        0% {
            opacity: 1;
            transform: translate3d(0, 0, 0px);
        }
        100% {
            opacity: 0;
            transform: translate3d(0, -100px, 0px);
        }
    }
}
@mixin fadeInUp($time) {
    animation: fadeInUp $time;
    opacity: 1;
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translate3d(0, 100px, 0px);
        }
        100% {
            opacity: 1;
            transform: translate3d(0, 0px, 0px);
        }
    }
}
@mixin fadeOutDown($time) {
    animation: fadeOutDown $time;
    opacity: 0;

    @keyframes fadeOutDown {
        0% {
            opacity: 1;
            transform: translate3d(0, 0, 0px);
        }
        100% {
            opacity: 0;
            transform: translate3d(0, 100px, 0px);
        }
    }
}
@mixin fadeInDown($time) {
    animation: fadeInDown $time;
    opacity: 0;

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translate3d(0, -100px, 0px);
        }
        100% {
            opacity: 1;
            transform: translate3d(0, 0px, 0px);
        }
    }
}
@mixin fadeInLeft($time) {
    animation: fadeInLeft $time;
    opacity: 1;
    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            transform: translate3d(-100px, 0px, 0px);
        }
        100% {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
        }
    }
}

// TEXT ANIMATIONS
@mixin pulsateTextAnimation($time) {
    animation: pulsate $time infinite;
    @keyframes pulsate {
        0% {
            text-shadow: 0px 0px 0.7rem rgb(0, 255, 0);
        }
        33% {
            text-shadow: 0px 0px 0.7rem rgb(234, 255, 0);
        }
        66% {
            text-shadow: 0px 0px 0.7rem rgb(0, 183, 255);
        }
        100% {
            text-shadow: 0px 0px 0.7rem rgb(0, 255, 0);
        }
    }
}
@mixin textGradientAnimation($time) {
    background: linear-gradient(to right, rgb(0, 221, 255), rgb(62, 254, 23));
    background-clip: text;
    color: transparent;
    animation: txtGradientAnimation $time infinite linear;
    @keyframes txtGradientAnimation {
        0% {
            background: linear-gradient(to right, rgb(0, 221, 255), rgb(62, 254, 23));
            background-clip: text;
            color: transparent;
        }
        33% {
            background: linear-gradient(to right, rgb(255, 0, 4), rgb(0, 221, 255));
            background-clip: text;
            color: transparent;
        }
        66% {
            background: linear-gradient(to right, rgb(255, 0, 247), rgb(255, 0, 4));
            background-clip: text;
            color: transparent;
        }
        100% {
            background: linear-gradient(to right, rgb(62, 254, 23), rgb(255, 0, 247));
            background-clip: text;
            color: transparent;
        }
    }
}
@mixin glossyText($color) {
    background: linear-gradient(to bottom right, white, $color, white);
    background-repeat: no-repeat;
    background-clip: text;
    background-size: 80%;
    color: white;
    // transition: all 0.21s linear infinite;
    overflow: hidden;
    // position: relative;
    &:hover {
        animation: 0.4s backgroundColorShift ease-in;
    }
    @keyframes backgroundColorShift {
        0% {
            background-position: 00%;
            // color: rgba(255, 255, 255, 0.4);
            color: transparent;
        }
        100% {
            background-position: 500%;
            color: white;
        }
    }
}

// OBJECT ANIMATIONS
@mixin pulsateAnimation($time) {
    animation: pulsate $time infinite;
    @keyframes pulsate {
        0% {
            box-shadow: 0 2px 20px 15px $blue;
        }
        33% {
            box-shadow: 0 2px 20px 10px $blue-bright;
            box-shadow: 0 2px 20px 10px rgb(182, 101, 182);
        }
        66% {
            box-shadow: 0 2px 20px 10px $blue-bright;
            box-shadow: 0 2px 20px 10px rgb(179, 31, 56);
        }
        100% {
            box-shadow: 0 2px 20px 15px $blue;
        }
    }
}
@mixin glossyHover($color) {
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, $color, transparent);
        transition: 0.4s;
    }
    &:hover::before {
        left: 100%;
        opacity: 0%;
    }
}

@mixin floatAnimation($name, $from, $to) {
    animation: #{$name} 4s cubic-bezier(0.68, 0.03, 0.01, 1.02) infinite;
    transform: translate3d($from, 0px, 0px) rotate(3deg);
    filter: invert(50%);
    @keyframes #{$name} {
        0% {
            transform: translate3d($from, 0px, 0px) rotate(3deg);
            filter: invert(50%);
        }
        30% {
            transform: translate3d($to, 0px, 0px) rotate(3deg);
            filter: invert(90%);
        }
        100% {
            transform: translate3d($from, 0px, 0px) rotate(3deg);
            filter: invert(50%);
        }
    }
}
@mixin floatAnimationReflection($name, $from, $to) {
    animation: #{$name} 4s cubic-bezier(0.68, 0.03, 0.01, 1.02) infinite;
    opacity: 0.4;
    filter: invert(50%);
    transform: translate3d($from - 2%, 3px, 0px) scale(1, -1) translateY(-100%) translateX(-20%)
        rotate(-5deg);

    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1));
    @keyframes #{$name} {
        0% {
            filter: invert(50%);
            transform: translate3d($from - 2%, 3px, 0px) scale(1, -1) translateY(-100%)
                translateX(-20%) rotate(-5deg);
        }
        30% {
            filter: invert(90%);
            transform: translate3d($to - 2%, 3px, 0px) scale(1, -1) translateY(-100%)
                translateX(-20%) rotate(-5deg);
        }
        100% {
            filter: invert(50%);
            transform: translate3d($from - 2%, 3px, 0px) scale(1, -1) translateY(-100%)
                translateX(-20%) rotate(-5deg);
        }
    }
}
@mixin floatAnimationVertical($name, $from, $to) {
    animation: #{$name} 4s cubic-bezier(0.68, 0.03, 0.01, 1.02) infinite;
    transform: translate3d(0%, $from, 0px) rotate(3deg);
    filter: invert(50%);
    @keyframes #{$name} {
        0% {
            transform: translate3d(0%, $from, 0px) rotate(3deg);
            filter: invert(50%);
        }
        30% {
            transform: translate3d(0%, -$to, 0px) rotate(3deg);
            filter: invert(0%);
        }
        100% {
            transform: translate3d(0%, $from, 0px) rotate(3deg);
            filter: invert(50%);
        }
    }
}
@mixin floatAnimationVerticalReflection($name, $from, $to) {
    animation: #{$name} 4s cubic-bezier(0.68, 0.03, 0.01, 1.02) infinite;
    transform: translate3d(-2%, $from + 1, 0px) scale(1, -1) translateY(-100%) translateX(-20%)
        rotate(-5deg);
    opacity: 0.4;
    filter: invert(50%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1));
    @keyframes #{$name} {
        0% {
            transform: translate3d(-2%, $from + 1, 0px) scale(1, -1) translateY(-100%)
                translateX(-20%) rotate(-5deg);
            filter: invert(50%);
        }
        30% {
            transform: translate3d(-2%, $to + 1, 0px) scale(1, -1) translateY(-100%)
                translateX(-20%) rotate(-5deg);
            filter: invert(0%);
        }
        100% {
            transform: translate3d(-2%, $from + 1, 0px) scale(1, -1) translateY(-100%)
                translateX(-20%) rotate(-5deg);
            filter: invert(50%);
        }
    }
}

@mixin sliderBar($color, $percentage) {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: gray;
    z-index: 0;
    margin-bottom: 2rem;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: $percentage;
        height: 5px;
        background: linear-gradient(to right, $color, lighten($color, 10%));
        z-index: 1;
    }
}
/////////// ELEMENTS ////////////////////////////////////////////////////////////////////////////////////////////
@mixin twinklingLight {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: rgb(248, 243, 109);
    box-shadow: 0 0 4px rgb(244, 237, 35);
    animation: twinkle 2s cubic-bezier(0.075, 1, 0.165, 1) infinite;
    @keyframes twinkle {
        0% {
            opacity: 1;
            transform: scale(0.5);
        }
        50% {
            opacity: 0.5;
            transform: scale(1);
        }
        100% {
            opacity: 0;
            transform: scale(0.5);
        }
    }
}

@mixin leftLineIn {
    height: 2px;
    width: 70%;
    background-color: $green-primary;
    animation: leftIn 1s cubic-bezier(0.175, 0.885, 0.32, 1.11);
    @keyframes leftIn {
        0% {
            width: 0%;
        }
        100% {
            width: 70%;
        }
    }
}
//////////////// COMPONENTS ///////////////////////////
@mixin glossyButton($color) {
    display: block;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    margin: 1.5rem 0;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: darken($color, 15%);
    transition: all 0.2s;
    @include glossyHover(white);

    &:hover {
        cursor: pointer;
        background-color: $color;
        transform: translateY(-2px);
    }
}

//////////////// MEDIA QUERIES ///////////////////////////////////////////////////////////////////////////////////////////////
/* 
0-400 smallphone
400-600px -> largerphone
600-900 -> tablet portrait
900-1200 tablet landscape
1200-1800 normal 
1800+ big desktop
*/
@mixin responsiveMax400 {
    @media (max-width: 25em) {
        @content;
    }
}
@mixin responsiveMax600 {
    @media (max-width: 37.5em) {
        @content;
    }
}
@mixin responsiveMax900 {
    @media (max-width: 56.25em) {
        @content;
    }
}
@mixin responsiveMax1200 {
    @media (max-width: 75em) {
        @content;
    }
}
@mixin responsiveMin1800 {
    @media (min-width: 112.5em) {
        @content;
    }
}
@mixin responsiveMinCustom($screenSize) {
    @media (min-width: $screenSize) {
        @content;
    }
}
