@import './variables';

body {
    background-color: rgb(30, 66, 38);
}
.backgroundImg {
    position: relative;
    background: none;
    img {
        position: fixed;
        top: 0;
        left: 0%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        transform: scale(1.2);
        filter: opacity(30%);
        @include fadeIn(1s);
    }
    video {
        position: fixed;
        display: inline-block;
        top: 0;
        left: 0%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -10;
        filter: opacity(40%);
        @include fadeIn(1s);
    }
}

// .fadeOut {
//     @include fadeOut(2s);
// }
