@import './variables';

body {
    background-color: rgb(14, 31, 18);
}
.backgroundImg {
    position: relative;
    img {
        position: fixed;
        top: 0;
        left: 0%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        // @include fadeIn(2s);
        opacity: 0.2;
        z-index: -1;
        transform: scale(1.2);
    }
    video {
        position: fixed;
        top: 0;
        left: 0%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;
        filter: opacity(30%);
        @include fadeIn(2s);
    }
}

// .fadeOut {
//     @include fadeOut(2s);
// }
