body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
    font-family: neon;
    src: url(hellodenverdisplayregular_v1.6.ttf);
}
/*
Fonts: 
font-family: 'Dancing Script', cursive;
font-family: 'Exo 2', sans-serif;
font-family: 'Neonderthaw', cursive;
font-family: 'Rozha One', serif;
font-family: 'Share Tech Mono', monospace;
*/
h1,
h2,
h3 {
    font-family: 'Roboto', monospace;
}
h1 {
    font-size: 3rem;
    text-align: center;
}
h2 {
    font-size: 2.2rem;
}
p {
    font-size: 1.1rem;
}
