@import '../../variables';

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .name {
        @include heading(1.5rem);
    }
    img {
        height: 4rem;
        width: fit-content;
        // filter: drop-shadow(1px 1px 1px rgb(195, 195, 195));
    }
}
