@import '../../variables';

.slider {
    position: relative;
    margin: 2rem 3%;
    padding: 0 11% 3rem;
    background-color: rgba(255, 255, 255, 0.112);
    border-radius: 20px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.2s;
    overflow: hidden;

    .slideCount {
        position: a bsolute;
        bottom: 5%;
        right: 1.5rem;
        font-size: 1rem;
        color: white;
        z-index: 1;
    }
    .dotsContainer {
        position: absolute;
        // justify-self: flex-end;
        bottom: 2%;
        right: 45%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > * {
            margin: 1rem 0.5rem 0.5rem;
            font-size: 80%;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
                color: rgb(180, 180, 180);
            }
        }
    }

    .rightArrow {
        position: absolute;
        top: 40%;
        right: 1.5rem;
        font-size: 6rem;
        color: white;
        z-index: 1;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            color: rgb(180, 180, 180);
        }
    }
    .leftArrow {
        position: absolute;
        top: 40%;
        left: 1.5rem;
        font-size: 6rem;
        color: white;
        z-index: 1;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            color: rgb(180, 180, 180);
        }
    }
}

.slide {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    width: 100%;

    .text {
        width: 100%;
        padding: 0 3rem 0 0;
        flex-grow: 1;

        h3 {
            margin-bottom: 2rem;
        }

        .links {
            display: flex;
            justify-content: space-around;

            a {
                display: block;
                padding: 0.5rem 2rem;
                border-radius: 10px;
                margin: 1rem;
                text-decoration: none;
                color: white;
                text-align: center;
                background-color: rgb(12, 89, 112);
                transition: all 0.2s;
                @include glossyHover(white);

                &:hover {
                    background-color: rgb(123, 187, 208);
                    color: black;
                }
            }
        }
    }
    .gif {
        flex-grow: 1;
        position: relative;
        height: 22rem;
        width: 100%;
        // background-image: url('https://media.giphy.com/media/LkxiDPFHOpfQrDi2xH/giphy.gif');
        video {
            position: absolute;
            top: 10%;
            left: 2%;
            width: 100%;
            object-fit: cover;
            object-position: left;
            padding: 2%;
            z-index: 0;
        }
        img {
            position: absolute;
            top: 10%;
            left: 2%;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }

        .gifText {
            z-index: 1;
        }
    }
}
.description {
    // font-size: 90%;
    font-weight: 200;
    // padding-bottom: 1rem;
}
