@import '../../variables';

.piece {
    display: flex;
    align-items: center;
    padding: 2rem 0;

    .text {
        width: 100%;
        padding: 0 3rem 0 0;
        flex-grow: 1;

        .links {
            display: flex;
            justify-content: space-around;

            :nth-child(1) {
                padding-right: 2rem;
            }
        }
    }
    .gif {
        flex-grow: 1;
        position: relative;
        height: 22rem;
        width: 100%;
        // background-image: url('https://media.giphy.com/media/LkxiDPFHOpfQrDi2xH/giphy.gif');
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 0;
        }
        .gifText {
            z-index: 1;
        }
    }
}
